body {
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    color: #333333;
    background-color: white;
}

.dark-mode {
    background-color: #0F0F0F; 
    color: #8a8a8a; 
}

.header {
    padding: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: medium;
    font-family: Heiti TC;
}

.logo img {
    margin-right: 20px;
    width: 64px;
    height: 64px;
}

.content {
    padding-bottom: 70vh;
}

.iframe-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default; 
    pointer-events: inherit; 
}


.footer {
    text-align: right;
    padding-right: 35px;
    font-family: Heiti SC;
    font-size: small;
    font-weight: lighter;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        transition: background-color 0.5s, color 0.5s;
        color: #333333;
        background-color: white;
    }
    .dark-mode {
        background-color: #0F0F0F; 
        color: #8a8a8a; 
    }
    .header {
        flex-direction: row;
        align-items: left;
        margin-left: -5px;
    }

    .logo img {
        margin: 0px;
        margin-right: 10px;
        width: 12px;
        height: 12px;
    }

    .title h1 {
        font-size: small; 
        margin: 0;
        text-align: left;
    }

    .content {
        padding-bottom: 68vh;
        max-width: 100%; 
        box-sizing: border-box; 
    }

    .audio-wrapper {
        display: flex;
        align-items: center;
    }

    .footer {
        padding: 10px;
        text-align: right;
        margin-right: 10px;
    }
}

